html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#emoji-input-wrapper {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    position: fixed !important;
    bottom: 20px;
    left: 20px;
}

#emoji-input-wrapper .tt-menu {
    top: initial !important;
    bottom: 21px !important;
}

#emoji-input-wrapper .emoji {
    width: 16px;
    height: 16px;
}

#emoji-display .emoji {
    height: 80vh;
    vertical-align: middle;
}